.list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}